name: Lint

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
  workflow_dispatch:

jobs:
  lint:
    name: Lint (${{ matrix.system }})
    runs-on: ${{ matrix.runner }}
    strategy:
      matrix:
        include:
          - system: x86_64-linux
            runner: ubuntu-latest
          - system: aarch64-linux
            runner: ubuntu-24.04-arm
      fail-fast: false
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@c5a866b6ab867e88becbed4467b93592bce69f8a # v21

      - name: Setup Cachix
        uses: cachix/cachix-action@3ba601ff5bbb07c7220846facfa2cd81eeee15a1 # v16
        with:
          name: eidetica
          authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"

      - name: Magic Nix Cache
        uses: DeterminateSystems/magic-nix-cache-action@565684385bcd71bad329742eefe8d12f2e765b39 # v13

      - name: Install nix-fast-build
        run: nix profile install nixpkgs#nix-fast-build

      - name: Lint and format
        run: |
          nix-fast-build --skip-cached --no-nom --no-link \
            -f '.#legacyPackages.${{ matrix.system }}.lint.default'
          nix-fast-build --skip-cached --no-nom --no-link \
            -f '.#checks.${{ matrix.system }}.treefmt'
