name: Nix

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@v21
      - name: Magic Nix Cache
        uses: DeterminateSystems/magic-nix-cache-action@v13

      - name: Build all packages with nix-fast-build
        run: |
          nix run nixpkgs#nix-fast-build -- \
            --skip-cached \
            --no-nom \
            --no-link \
            --cachix-cache eidetica \
            --flake ".#checks.x86_64-linux" \
            --flake ".#packages.x86_64-linux.eidetica-lib" \
            --flake ".#packages.x86_64-linux.eidetica-bin"
        env:
          CACHIX_AUTH_TOKEN: "${{ secrets.CACHIX_AUTH_TOKEN }}"
