name: Nix

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      SYSTEM: x86_64-linux
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@c5a866b6ab867e88becbed4467b93592bce69f8a # v21
      - name: Magic Nix Cache
        uses: DeterminateSystems/magic-nix-cache-action@565684385bcd71bad329742eefe8d12f2e765b39 # v13

      - name: Build all packages with nix-fast-build
        run: |
          nix run nixpkgs#nix-fast-build -- \
            --skip-cached \
            --no-nom \
            --no-link \
            --cachix-cache eidetica \
            --flake ".#checks.$SYSTEM" \
            --flake ".#packages.$SYSTEM.eidetica-lib" \
            --flake ".#packages.$SYSTEM.eidetica-bin"
        env:
          CACHIX_AUTH_TOKEN: "${{ secrets.CACHIX_AUTH_TOKEN }}"
