name: Renovate
on:
  schedule:
    # Run daily at 1am UTC
    - cron: "0 1 * * *"
  # Allow manual triggers
  workflow_dispatch:
    inputs:
      logLevel:
        description: "Log level"
        required: false
        default: "debug"
        type: choice
        options:
          - info
          - debug
          - trace

jobs:
  renovate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5

      - name: Renovate
        uses: renovatebot/github-action@5712c6a41dea6cdf32c72d92a763bd417e6606aa # v44.0.5
        with:
          configurationFile: .github/renovate.json
          token: ${{ secrets.RENOVATE_TOKEN }}
        env:
          # Use the log level from manual trigger, or info by default
          LOG_LEVEL: ${{ github.event.inputs.logLevel || 'info' }}
