name: Rust

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - name: Install Rust
        uses: dtolnay/rust-toolchain@1.92.0
        with:
          components: clippy, rustfmt
      - name: Install just and shellcheck
        uses: taiki-e/install-action@0bc4cd8a3e21db4cb9519857377b0c8c5e150de5 # v2
        with:
          tool: just,shellcheck
      - name: Install yamllint
        run: pip install yamllint
      - name: Rust Cache
        uses: Swatinem/rust-cache@779680da715d629ac1d338a641029a2f4372abb5 # v2

      - name: Format
        run: just fmt check

      - name: Clippy
        run: just lint clippy

      - name: Shellcheck
        run: just lint shellcheck

      - name: Yamllint
        run: just lint yamllint

  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - name: Install Rust
        uses: dtolnay/rust-toolchain@1.92.0
      - name: Install just
        uses: taiki-e/install-action@0bc4cd8a3e21db4cb9519857377b0c8c5e150de5 # v2
        with:
          tool: just
      - name: Rust Cache
        uses: Swatinem/rust-cache@779680da715d629ac1d338a641029a2f4372abb5 # v2

      - name: Build
        run: just build

  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - name: Install Rust
        uses: dtolnay/rust-toolchain@1.92.0
      - name: Rust Cache
        uses: Swatinem/rust-cache@779680da715d629ac1d338a641029a2f4372abb5 # v2

      - name: Install tools
        uses: taiki-e/install-action@0bc4cd8a3e21db4cb9519857377b0c8c5e150de5 # v2
        with:
          tool: cargo-nextest@0.9.124,mdbook@0.4,just

      - name: Test
        run: just test

      - name: Test Doc Examples
        run: just test doc

      - name: Test Documentation Examples
        run: just doc test

  test-minimal:
    name: Test Minimal Features
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Install Rust
        uses: dtolnay/rust-toolchain@1.92.0

      - name: Rust Cache
        uses: Swatinem/rust-cache@779680da715d629ac1d338a641029a2f4372abb5 # v2

      - name: Install tools
        uses: taiki-e/install-action@0bc4cd8a3e21db4cb9519857377b0c8c5e150de5 # v2
        with:
          tool: cargo-nextest@0.9.124,just

      - name: Test minimal features
        run: just test minimal
